@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Inter";
  letter-spacing: 0.25px;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-input {
  height: 38px;
  width: 250px;
  font-size: 13px;
  padding: 6px 4px;
  border: 2px solid #E0E0E0;
  border-radius: 6px;
}

.search-input:focus {
  outline-color: #E0E0E0; /* Changes the outline color when the input is focused */
}

.dropdown {
  user-select: none;
  position: relative;
}
.dropdown .dropdown-btn {
  padding: 8px 4px;
  background: #fff;
  font-size: 13px;
  color: #c0aeae;
  font-weight: 500;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border: 2px solid #E0E0E0;
}

.dropdown-item {
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown-item:hover {
  background: white;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure the dropdown menu has a high z-index */
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #3DA5FF;
  box-shadow: 0 0 0 0 #BDE0FF;
  animation: l1 1s infinite;
}
@keyframes l1 {
  100% {
    box-shadow: 0 0 0 20px #0000;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Custom Scrollbar */
*::-webkit-scrollbar {
  width: 8px;
  background: gainsboro;
}

*::-webkit-scrollbar-thumb {
  background: #463fa6;
  border-radius: 1ex;
}

*::-webkit-scrollbar-corner {
  background: #463fa6;
}
